
header { display: block }

#mpapp h1 {
    align-content: center;
}

#topics, #thread, #user, #suspended {
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    width: 800px;
}

.topic { width: 450px; }
.inituser { max-width: 75px; overflow: hidden; }
.startdate { width: 200px; text-align: right; }
.body {
    width: 550px;
    border: solid 3px #033;
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
}

.msg-btns {
    float: right;
    margin-bottom: 2em;
    padding: 5px;
}

.editable {
    border: thin solid blue;
}

#subject {
    width: 500px;
    height: 1em;
}

#new-message {
    width: 500px;
    height: 260px;
}

textarea {
    width: 500px;
    height: 250px;
}

#postform {
    position: fixed;
    width: 500px;
    height: 350px;
    bottom: 20px;
    right: 20px;
    background-color: white;
}

#okwords {
    position: fixed;
    font-size: 16px;
    width: 7em;
    /* max-height: 300px; */
    bottom: 12px;
    right: 520px;
    background-color: white;
    border: thin solid mediumpurple;
}
span.okmulti {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: green;
}

li.wordlist {
    list-style-type: none;
    padding-left: 2px;
    font-size: 14pt;
    width: 25em;
    margin-left: -15px;
}

ul.oops {
    background-color: pink !important;
}

.row-group-spacer {
    height: 20px;
}

#login {
    position: fixed;
    width: 500px;
    height: 300px;
    left: 300px;
    right: 300px;
    top: 200px;
    bottom: 200px;
    background-color: lightblue;
}

#set-username {
    position: fixed;
    width: 500px;
    height: 150px;
    left: 300px;
    right: 300px;
    top: 200px;
    bottom: 200px;
    padding: 20px;
    background-color: lightgreen;
}

footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size: large;
    width: 800px;
    align-content: center;
}

#null-msg {
    padding: 20px;
}