


#mpapp h1 {
    align-content: center;
}

#topics, #thread {
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    width: 800px;
}

.topic { width: 450px; }
.inituser { max-width: 75px; overflow: hidden; }
.startdate { width: 200px; text-align: right; }
.body { width: 550px; border: solid 3px #033; }

.editable {
    border: thin solid blue;
}

#subject {
    width: 500px;
    height: 1em;
}

#new-message {
    width: 500px;
    height: 270px;
}

textarea {
    width: 500px;
    height: 250px;
}

#postform {
    position: fixed;
    width: 500px;
    height: 330px;
    bottom: 20px;
    right: 20px;
    background-color: white;
}

#okwords {
    position: fixed;
    width: 150px;
    max-height: 300px;
    bottom: 30px;
    right: 520px;
    background-color: white;
    border: thin solid mediumpurple;
}

li.wordlist {
    list-style-type: none;
    padding-left: 2px;
    line-height: 8px;
}

div.oops {
    background-color: pink !important;
}

.row-group-spacer {
    height: 20px;
}

#login {
    position: fixed;
    width: 500px;
    height: 300px;
    left: 300px;
    right: 300px;
    top: 200px;
    bottom: 200px;
    background-color: lightblue;
}

#set-username {
    position: fixed;
    width: 500px;
    height: 150px;
    left: 300px;
    right: 300px;
    top: 200px;
    bottom: 200px;
    padding: 20px;
    background-color: lightgreen;
}

footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size: large;
    width: 800px;
    align-content: center;
}

