


#mpapp h1 {
    align-content: center;
}

#topics, #thread {
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    width: 800px;
}

.topic { width: 450px; }
.inituser { width: 100px; }
.startdate { width: 150px; }
.body { width: 550px; border: solid 3px #033; }
/* td.body { column-span: all; -webkit-column-span: all; } */


textarea {
    width: 500px;
    height: 250px;
}

#postform {
    position: fixed;
    width: 500px;
    height: 500px;
    bottom: 20px;
    right: 20px;
}

.row-group-spacer {
    height: 20px;
}

#login {
    position: fixed;
    width: 500px;
    height: 300px;
    left: 300px;
    right: 300px;
    top: 200px;
    bottom: 200px;
    background-color: lightblue;
}

footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size: large;
    width: 800px;
    align-content: center;
}

