<!doctype html>
<html lang="en" data-framework="backbonejs">
	<head>
		<meta charset="utf-8">
		<title>Mil Palabras</title>
		<link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="vendor/etch/css/etch.css">
	</head>
	<body>
		<section id="mpapp">

            <header>
                <h1>Mil Palabras</h1>

                <span class="nav">
                   <a href="#" data-help="main page">principal</a>
                   <span class="user-id"></span>
                   <a href="#!/login" class="loginLink" data-help="login">acceder</a>
                </span>

                <h4 data-help="Write from the heart, or from the mind, but always within the thousand most commonly used words in Spanish.">
                    Escribir desde el corazón, o de la mente, pero siempre dentro de las mil palabras más usadas en español.</h4>

            </header>

            <!--
            templates and blocks for the main topics page

            -->
            <div id="topics" class="page">
                <header>

                    <h1><span data-help="Topics">Temas</span></h1>
                </header>

                <button data-help="Create New Topic" class="add-topic-button">Crea Nuevo Tema</button>
                <table id="topics-main">
                    <thead>
                        <tr>
                            <th><span data-help="topic">tema</span>
                            <th><span data-help="owner">propietario</span></th>
                            <th><span data-help="when changed">cuando cambiado</span></th>
                            <th><span data-help="size">tamaño</span></th>
                        </tr>
                    </thead>
                    <tbody id="topic-list">
                    </tbody>
                </table>

                <button class="add-topic-button" data-help="Create New Topic">Crea Nuevo Tema</button>
                <!-- footer></footer -->
            </div>

            <script type="text/template" id="topic-item-template">
                <% var topic_md = makeHtml(topic);
                   topic_md = topic_md.replace(/<\/?p>/g, '');
                %>
                <td class="topic"><a href="#!/t/<%- thread_id %>"><%= topic_md %></a></td>
                <td class="inituser"><%- initiating_user %></td>
                <td class="startdate rgt"><time class="timeago" datetime="<%- change_date %>z"></time></td>
                <td class="msgct"><%- message_ct %></td>
            </script>

            <script type="text/template" id="null-message-template">
                <div id="null-msg" data-help="No messages were found">No se encontraron mensajes</div>
            </script>


            <!--
              templates and blocks for displaying one thread

            -->
            <div id="thread" class="page" style="display: none">
                <header>
                    <h1></h1>
                </header>

                <table id="thread-main">
                </table>
                <button id="add-post-button" class="add-post" data-help="Reply to thread">Respuesta al Tema</button>
                <span id="thread-complete" data-help="Thread is full">Tema está Lleno</span>
                <!-- footer></footer -->
            </div>

            <script type="text/template" id="header-template">
                <span  data-help="Topic">Tema</span> [<%= topic %>]
            </script>

            <script type="text/template" id="message-template">
                <%
                var body_md = suppressed ? '' : makeHtml(body);
                var title_md = makeHtml(title);
                title_md = suppressed ? '~ oculta temporalmente ~' : title_md.replace(/<\/?p>/g, '');

                var now5 = new Date(Date.now() - 5*60*1000),
                    now10 = new Date(Date.now() - 10*60*1000),
                    pDate = new Date(post_date),
                    deleted = title === app.constants.ELIMINATION_TITLE;
                    deletable = (!deleted) && ((author === app.handle && pDate > now10) || app.isAdmin),
                    editable = (!deleted) && ((author === app.handle && pDate > now5) || app.isAdmin),
                    branch_ok = (!deleted) && (!branch_to),
                    reply_ok = (!deleted) && (app.thread.length <= app.constants.MAX_THREAD_SIZE);
                %>
                <tr>
                    <td class="topic"><a name="<%= message_id %>"></a><%= title_md %></td>
                    <td class="inituser"><a href="#!/u/<%- author %>"
                       style="display: <%= !(suppressed || deleted) ? 'inline': 'none' %>"><%- author %></a></td>
                    <td class="startdate rgt"><time class="timeago" datetime="<%- post_date %>z"></time></td>
                </tr>
                <tr style="display: <%= title_from ? 'table-row': 'none' %>">
                    <td class="prefix" colspan="3"><span  data-help="This message is in prior thread:">Este mensaje se antes en </span><a href="#!/t/<%= branched_from %>"><%= title_from %></a>.</td>
                </tr>
                <tr>
                    <td class="body" colspan="3"><%= body_md %></td>
                </tr>
                <tr class="row-group-spacer">
                    <td colspan="3">
                      <a class="msg-btns suppress" data-messageid="<%= message_id %>" data-help="flag as inappropriate"
                         style="display: <%= suppressed === null && !deleted ? 'inline': 'none' %>">marca como no apropiado</a>
                      <button class="msg-btns edit" data-messageid="<%= message_id %>" data-help="edit Message"
                              style="display: <%= editable ? 'inline' : 'none' %>">edite el mensaje</button>
                      <button class="msg-btns delete" data-messageid="<%= message_id %>" data-help="delete Message"
                              style="display: <%= deletable ? 'inline' : 'none' %>">elimine el mensaje</button>
                      <a class="msg-btns lft" href="#!/t/<%= branch_to %>" data-help="see other"
                         style="display: <%= branch_to ? 'inline' : 'none' %>">ver también</a>
                      <button class="msg-btns add-post lft" data-help="reply"
                              style="display: <%= reply_ok ? 'inline' : 'none' %>">respuesta</button>
                      <button class="msg-btns as-new-thread lft" data-messageid="<%= message_id %>" data-help="reply in new thread"
                              style="display: <%= branch_ok ? 'inline' : 'none' %>">respuesta tan nueva tema</button>
                    </td>
                </tr>
            </script>


            <!--
              templates for user page

            -->
            <div id="user" class="page" style="display: none">
                <header>
                    <h1></h1>
                </header>
                <div id="user-main"></div>
                <!-- footer></footer -->
            </div>

            <script type="text/template" id="user-header-template">
                <span data-help="User">Usuario</span> [<%= user %>]
            </script>

            <script type="text/template" id="user-subheader-template">
                <table>
                    <thead>
                        <tr>
                            <th><span id="posts-by" data-help="Messages from:">Mensajes de: </span><%- user %></th>
                        </tr>
                    </thead>
                </table>
            </script>

            <script type="text/template" id="user-message-template">
                <% var body_md = makeHtml(body);
                var title_md = makeHtml(title);
                title_md = title_md.replace(/<\/?p>/g, '');
                // topic is thread title
                var topic_md = makeHtml(topic);
                topic_md = topic_md.replace(/<\/?p>/g, '');
                %>
                <tr>
                    <td class="topic"><a href="#!/t/<%= thread_id %>"><%= topic_md %></a> > <%= (message_id === thread_id) ? '' : title_md %></td>
                    <td class="inituser"><%- author %></td>
                    <td class="startdate rgt"><time class="timeago" datetime="<%- post_date %>z"></time></td>
                </tr>
                <tr>
                    <td class="body" colspan="3"><%= body_md %></td>
                </tr>
                <tr class="row-group-spacer"><td> </td></tr>
            </script>


            <!--
              templates for suspended page

            -->
            <div id="suspended" class="page" style="display: none">
                <header>
                    <h1></h1>
                </header>
                <div id="suspended-main"></div>
                <!-- footer></footer -->
            </div>

            <script type="text/template" id="suspended-header-template">
                Flagged Messages
            </script>

            <script type="text/template" id="suspended-message-template">
                <% var body_md = makeHtml(body);
                var title_md = makeHtml(title);
                title_md = title_md.replace(/<\/?p>/g, '');
                %>
                <tr>
                    <td class="topic"><%= title_md %></td>
                    <td class="inituser"><a href="#!/u/<%- author %>"><%- author %></a></td>
                    <td class="startdate rgt"><time class="timeago" datetime="<%- post_date %>z"></time></td>
                </tr>
                <tr>
                    <td class="body" colspan="3"><%= body_md %></td>
                </tr>
                <tr class="row-group-spacer">
                    <td colspan="3">
                        Reported by: <%= suspender %>
                        Reason: <%= reason %>
                        <a class="msg-btns delete" data-messageid="<%= message_id %>">delete</a>
                        <a class="msg-btns unflag" data-messageid="<%= message_id %>">unflag</a>
                    </td>
                </tr>
            </script>


            <!--
            blocks and templates for the message editor

            -->

            <div id="postform" class="page" style="display: none">
                <ul class="okwords"></ul>
                <div class="etch-editor-panel"></div>
                <div class="form"></div>
            </div>

            <script type="text/template" id="postform-template">
                <% var title_md = makeHtml(title);
                title_md = title_md.replace(/<\/?p>/g, '');
                var body_md = makeHtml(body);
                body_md = body_md.replace(/<\/?p>/g, '');
                %>

                <h3>Escribe</h3>
                <div id="subject" class="editable" data-button-class="title" data-position="#postform"><%= title_md %></div>
                <div id="new-message" class="editable" data-button-class="new" data-position="#postform"><%= body_md %></div>

                <div>
                    <div id="edit-error"></div>
                    <button id="post-message" data-help="Post">Enviíe</button>
                    <button id="post-cancel" data-help="Cancel">Cancele</button>
                </div>
            </script>

            <script type="text/template" id="okword-template">
                <span class="DL <%= okmulti %>"><%= word %></span>
            </script>

            <script type="text/template" id="edit-menu">
                <a href="#" class="etch-editor-button etch-bold" title="bold">
                    <span></span></a>
                <a href="#" class="etch-editor-button etch-italic" title="italic">
                    <span></span></a>
                <a href="#" class="etch-editor-button etch-unordered-list" title="unordered list">
                    <span></span></a>
                <a href="#" class="etch-editor-button etch-ordered-list" title="ordered list">
                    <span></span></a>
                <a href="#" class="etch-editor-button etch-link" title="link">
                    <span></span></a>
                <a href="#" class="etch-editor-button etch-clear-formatting" title="clear formatting">
                    <span></span></a>
            </script>

            <!--
            blocks and templates for the message suspension form

            -->

            <div id="suspend" class="page" style="display: none">
                <div class="form"></div>
            </div>

            <script type="text/template" id="suspend-template">

                <h3 data-help="Why is this message bad?">¿Por qué este mensaje malo?</h3>
                <input name="message_id" value="<%= message_id %>" type="hidden">

                <ol>
                    <!-- radio buttons for reasons -->
                    <li><input type="radio" name="suspend-reason" value="adhominem">
                      <span  data-help="Post is attack on another user.">Mensaje es el ataque de otro usuario.</span>
                    </li>
                    <li><input type="radio" name="suspend-reason" value="notspanish">
                      <span  data-help="Post is not Spanish enough, as it includes obvious padding verbage.">
                          El artículo no es suficiente español, ya que incluye el relleno obvio.
                      </span>
                    </li>
                    <li><input type="radio" name="suspend-reason" value="irrelevant">
                      <span  data-help="Post is not relevant to thread topic.">
                          El artículo no es relevante para el tema.</span>
                    </li>
                    <li><input type="radio" name="suspend-reason" value="vulgar">
                      <span  data-help="Post is vulgar, or includes reference to sexuality or hate.">
                          Mensaje es vulgar, o incluye una referencia a la sexualidad o el odio.
                      </span>
                    </li>
                    <li><input type="radio" name="suspend-reason" value="nonsense">
                      <span  data-help="Post is not intelligible, as grammar is too poor to communicate meaning.">
                          El artículo no es inteligible, la gramática es muy pobre para comunicar significados.
                      </span>
                    </li>
                </ol>

                <div>
                    <button id="post-suspend" data-help="Post">Envíe</button>
                    <button id="cancel-suspend" data-help="Cancel">Cancele</button>
                </div>
            </script>


            <!--
                introduction page
            -->
            <div id="intro" class="page" style="display: none">
                <h2><span data-help="Introduccion">Introduction</span></h2>

                <p><span data-help="Mil Palabras es un foro único.">Mil Palabras is a unique forum.</span>
                    <span data-help="Es un foro para aprendizaje del español mediante la comunicación en español, con otros estudiantes, sobre temas de conversación.">It is a forum for
                    learning Spanish by communicating in Spanish, with other learners, on conversational topics.</span>
                    <span data-help="Es único en el que el software requiere el uso de palabras comunes; el uso de palabras comunes permite otra
                     usuarios de nivel intermedio para leer lo que escribes, y ayuda a asegurar que se puede leer lo que otros
                     escribir.">It is unique in that the software requires you to use common words; using common words allows other
                    intermediate level users to read what you write, and helps ensure that you can read what others
                    write.</span></p>

                <p><span data-help="A medida que escribe, editer del foro brinda asistencia interactiva en qué palabras están disponibles,
                     y códigos de color de las palabras no permisibles.">As you write, the forum's editer provides interactive assistance on what words are available,
                    and color-codes non-permissible words.</span>  <span data-help="Palabras permitidos son los mil más comúnmente
                     utilizado palabras en español.">Allowed words include the one thousand most commonly
                    used words in Spanish.</span></p>

                <h3><span data-help="¿Por qué se creó?">Why was it created?</span></h3>

                <p><span data-help="Hay muchos sitios web y otros recursos para los principiantes que aprenden sus primeros cien palabras
                     Español.">There are many websites and other resources for beginners learning their first hundred words in
                    Spanish.</span>  <span data-help="También hay muchos recursos para los estudiantes avanzados;
                    prácticamente todos los españoles web de la lengua es una oportunidad de aprendizaje.">There are
                    also many resources for advanced students; practically every Spanish language website is a
                    learning opportunity.</span></p>

                <p><span data-help="En el medio, los recursos para los estudiantes que saben unos pocos cientos de
                    palabras y la gramática básica pero que necesitan la práctica en el contexto de la conversación
                    son escasos.">In between, resources for students who know a few hundred words and basic grammar
                    but who need practice in conversational context are scarce.</span></p>

                <p><span data-help="Esta aplicación web espera ayudar con ese tercer grupo, ayudar a las personas con un mínimo de
                   la práctica la capacidad de conversación y mejorar, en un estilo interpersonal informal.">This web
                    application hopes to help with that third group, helping people with minimal
                  conversational ability practice and improve, in a casual interpersonal style.</span></p>

                <h3><span data-help="¿Quién lo creó?">Who created it?</span></h3>

                <p><span data-help="Soy un hablante nativo de Inglés, que ha estudiado español durante años.">I am a
                    native speaker of English who has studied Spanish for years.</span>
                    <span data-help="Tengo
                     tomado dos años de universidad de la comunidad española, con experiencia de un mes de la cultura española
                     educación de inmersión en México, y trabajó un mes en el alivio del huracán en Puerto Rico (todos
                     esto hace años), pero todavía parecen mediocres en español.">I have
                    taken two years of community college Spanish, experienced a month of Spanish cultural
                    immersion education in Mexico, and worked a month on hurricane relief in Puerto Rico (all of
                    this years ago) but still seem mediocre at Spanish.</span></p>

                <p><span data-help="Espero mejorar mi español aquí, practicando con ustedes.">I hope to improve
                    my Spanish here, practicing with you.</span></p>

                <h4>David Keeney</h4>

            </div>

            <!--
                faq page
            -->
            <div id="faq" class="page" style="display: none">
                <h2><span data-help="Preguntas Frecuentas">Frequent Questions</span></h2>

                <dl>

                    <dt><span data-help="¿Dónde están las palabras de 1000?">Where are the 1000 words from?</span></dt>
                    <dd><p><span data-help="La lista de referencias es de wiktionary:">The reference list is from wiktionary:
                        <a href="http://en.wiktionary.org/wiki/Wiktionary:Frequency_lists/Spanish1000">[link]</a></span></p>
                        <p><span data-help="Esa lista se recogió de una gran base de datos de subtítulos de películas y televisión.">That
                        list was collected from a large database of movie and television subtitles.</span> <span data-help="Así, mientras que
                         es una base de datos de texto, los recuentos de frecuencia reflejan el uso en el español hablado.">So while it
                        is a text database, the frequency counts reflect usage in spoken Spanish.
                      </span></p></dd>

                    <dt><span data-help="¿Es exactamente 1.000 palabras?">Is it exactly 1000 words?</span></dt>
                    <dd><p><span data-help="Bueno, no">Well, no.</span></p>
                        <p><span data-help="La fuente en la lista las palabras por su forma de uso, así que por ejemplo,
                         hay entradas separadas para singular y plural, para las formas masculinas y femeninas de los adjetivos, etc.">The source listed words by their form in usage, so for example,
                        there are separate entries for singular and plural, for masculine and feminine forms of adjectives, etc.</span>
                        <span data-help="Para nuestros propósitos, el lema (forma canónica) se identificó para cada entrada y cada lema se amplió
                         para crear un conjunto coherente de palabras permitidas.">For our purposes, the lemma (canonical form) was identified for each entry, and each lemma was expanded
                        to create a consistent set of permissible words.</span>  <span data-help="Cada nombre se incluye en forma singular y plural,
                         cada adjetivo está en las formas masculinas y femeninas, singulares y pluralizados, y cada verbo es
                         conjugado para los tiempos más simples.">Each noun is included in singular and plural forms,
                        each adjective is in masculine and feminine forms, singular and pluralized, and each verb is
                        conjugated for the simpler tenses.</span></p>

                        <p><span data-help="Hay un poco menos de 1.000 lemas, y casi 10.000 entradas totales.">There are just under 1,000 lemmas, and almost 10,000 total entries.</span></p>
                      </dd>


                    <dt><span data-help="¿Lo que inspiró la creación de esta aplicación web?">What inspired creating this web application?</span></dt>
                    <dd><p><span data-help="XKCD ha inspirado muchas cosas buenas, y esta aplicación está entre ellos.">
                      <a href="http://xkcd.com">XKCD</a> has inspired <a href="http://mentalfloss.com/article/24633/inspired-xkcd">many</a> good things, and this app is among them.</span>
                      <span data-help="Ver 'Up Goer Five'">See <a href="http://xkcd.com/1133/">Up Goer Five</a>.</span></p>
                      <p><span data-help="Si Randall Monroe puede describir una
                       tema muy técnico utilizando sólomente las mil palabras más utilizadas en inglés, entonces nos podemos
                       charlar sobre las cosas más mundanas que utilizan la misma cantidad de palabras en español.">If Randall Monroe can describe a very
                      technical topic using only the one thousand most commonly used English words, then we can chit
                      chat about more mundane things using the same quantity of Spanish words.</span> <span data-help="¿No?">No?
                      </span></p></dd>

                </dl>
            </div>


                <!--
                modals for logging in

                -->
            <div id="login" class="page modal-body" style="display: none">
                <form id="openidForm"  action="~" method="post">
                    <div>
                        <div id="main-openid">

                            <p data-help="Login with:">Acceder con: </p>
                            <input type="submit" value="Google Mail" id="google" class="login-btn" />
                            <input type="submit" value="Yahoo Mail" id="yahoo" class="login-btn" />
                            <input type="submit" value="Otro" id="other" class="login-btn" />
                        </div>


                        <div id="other-openid">
                            <!-- p>Proporcione a su identificador de OpenID, con http: <br/>
                                Ejemplo: <ul><li>http://example.livejournal.com</li>
                            <li>http://example.myopenid.com</li></ul>
                            ... or click one of the host buttons below.
                            </p -->
                            OpenID Identificader URL<input name="openidurl" size="75"/>  <br/>
                            <input type="submit" class="btn" title="continuúa" />
                        </div>
                    </div>
                </form>
            </div>

            <div id="set-username" class="modal-body" style="display: none">
                <form>
                    <p data-help="Provide your preferred username.">
                        Proporcione su nombre de usuario preferido.</p>
                    <p id="su-error"></p>
                    <input name="username" size="75"/>  <br/>
                    <input type="submit" class="btn" />
                </form>
            </div>

            <div id="definition-hover" class="hover" style="display: none">
                <div class="arrow-up"></div>
                <div class="hover-body">
                    <div id="def-lemma" class="hover lft">lemma</div>
                    <div class="hover" >
                        <div id="def-definition">DEFINITION</div>
                        <div id="def-forms">FORMS</div>
                    </div>
                </div>
            </div>

            <div id="definition-hover-left" class="hover" style="display: none">
                <div class="hover-body">
                    <div class="def-lemma hover lft">lemma</div>
                    <div class="hover" >
                        <div class="def-definition">DEFINITION</div>
                        <div class="def-forms">FORMS</div>
                    </div>
                </div>
            </div>

            <div id="help-hover" class="hover" style="display: none">
                <div class="hover-tooltip"></div>
            </div>

        </section>

        <footer>
            <a href="#!/intro" data-help="introduction">introducción</a>
            <a href="#!/allwords" data-help="all permissible words">todas las palabras permisibles</a>
            <a href="#!/faq" data-help="frequent questions">preguntas frecuentes</a>
        </footer>

        <!--
        load everything
        -->
		<script src="https://www.rdbhost.com/vendor/jquery/1.8/jquery-1.8.3.js"></script>
        <script src="https://www.rdbhost.com/js/jquery.cookie.js"></script>
		<script src="https://www.rdbhost.com/vendor/underscore/1.5/underscore.js"></script>
		<script src="https://www.rdbhost.com/vendor/backbone/1.1/backbone.js"></script>
        <script src="https://www.rdbhost.com/vendor/rdbhost/1.2/jquery.rdbhost.js"></script>
        <script src="https://www.rdbhost.com/vendor/showdown/0.3/src/showdown.js"></script>
        <script src="https://www.rdbhost.com/vendor/jquery-plugins/jquery.timeago.js"></script>
        <script src="https://www.rdbhost.com/vendor/jquery-plugins/jquery.timeago.es.js"></script>
        <!-- script src="https://www.rdbhost.com/vendor/jquery-plugins/jquery.caret.js"></script -->
        <script src="https://www.rdbhost.com/vendor/rangy/1.3/uncompressed/rangy-core.js"></script>
        <script src="https://www.rdbhost.com/vendor/rangy/1.3/uncompressed/rangy-textrange.js"></script>

        <script src="vendor/etch/js/etch.js"></script>
        <script src="vendor/to-markdown/js/to-markdown.js"></script>

        <script src="js/app.js"></script>
        <script src="js/views/username-view.js"></script>
        <script src="js/routers/login.js"></script>
        <script src="js/models/message-model.js"></script>
        <script src="js/models/suspend-reason-model.js"></script>
		<script src="js/collections/thread-model.js"></script>
        <script src="js/collections/user-model.js"></script>
        <script src="js/collections/suspended-model.js"></script>
        <script src="js/collections/thousandwords-collection.js"></script>
        <script src="js/collections/translation-collection.js"></script>
		<script src="js/collections/threads-collection.js"></script>
		<script src="js/views/thread-view.js"></script>
		<script src="js/views/threads-view.js"></script>
        <script src="js/views/user-view.js"></script>
        <script src="js/views/suspended-view.js"></script>
        <script src="js/views/suspend-view.js"></script>
        <script src="js/views/wordlist-view.js"></script>
        <script src="js/views/edit-view.js"></script>
        <script src="js/views/global-view.js"></script>
        <script src="js/routers/router.js"></script>

	</body>
</html>
