<!doctype html>
<html lang="en" data-framework="backbonejs">
	<head>
		<meta charset="utf-8">
		<title>Mil Palabras</title>
		<link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="vendor/etch/css/etch.css">
	</head>
	<body>
		<section id="mpapp">

            <header>
                <h1>Mil Palabras</h1>

                <span class="nav">
                   <a href="#">principal</a>
                   <span class="user-id"></span>
                   <a href="#!/login" class="loginLink">acceder</a>
                </span>
            </header>

            <!--
            templates and blocks for the main topics page

            -->
            <div id="topics" class="page">
                <header>

                    <h1>Temas</h1>
                </header>

                <button class="add-topic-button">Crea Nuevo Tema</button>
                <table id="topics-main">
                    <thead>
                        <tr>
                            <th>tema</th>
                            <th>propietario</th>
                            <th>cuando</th>
                            <th>tamaño</th>
                        </tr>
                    </thead>
                    <tbody id="topic-list">
                    </tbody>
                </table>

                <button class="add-topic-button">Crea Nuevo Tema</button>
                <footer></footer>
            </div>

            <script type="text/template" id="topic-item-template">
                <% var topic_md = makeHtml(topic);
                   topic_md = topic_md.replace(/<\/?p>/g, '');
                %>
                <td class="topic"><a href="#!/t/<%- thread_id %>"><%= topic_md %></a></td>
                <td class="inituser"><%- initiating_user %></td>
                <td class="startdate rgt"><time class="timeago" datetime="<%- change_date %>z"></time></td>
                <td class="msgct"><%- message_ct %></td>
            </script>

            <script type="text/template" id="null-message-template">
                <div id="null-msg">No Messages Were Found</div>
            </script>


            <!--
              templates and blocks for displaying one thread

            -->
            <div id="thread" class="page" style="display: none">
                <header>
                    <h1></h1>
                </header>

                <table id="thread-main">
                    <thead>
                        <tr>
                            <th class="topic">title</th>
                            <th class="inituser">author</th>
                            <th class="startdate rgt">post_date</th>
                        </tr>
                        <!-- tr>
                            <th colspan="3">body</th>
                        </tr -->
                    </thead>
                </table>
                <button id="add-post-button">Respuesta al Tema</button>
                <span id="thread-complete">Tema está Lleno</span>
                <footer></footer>
            </div>

            <script type="text/template" id="header-template">
                Tema [<%= topic %>]
            </script>

            <script type="text/template" id="message-template">
                <%
                var body_md = makeHtml(body);
                var title_md = makeHtml(title);
                title_md = title_md.replace(/<\/?p>/g, '');
                var now5 = new Date(Date.now() - 5*60*1000),
                    now10 = new Date(Date.now() - 10*60*1000),
                    pDate = new Date(post_date),
                    suppressable = (suppressed !== false) ? 'inline' : 'none',
                    editable = ((author === app.handle && pDate > now5) || app.isAdmin)
                       ? 'inline' : 'none',
                    deletable = ((author === app.handle && pDate > now10) || app.isAdmin)
                       ? 'inline' : 'none',
                    also_thread = branch_to ? 'inline' : 'none',
                    branch_ok = branch_to ? 'none' : 'inline';
                if (suppressed) {
                    topic_md = '~ oculta temporalmente ~';
                    body_md = '';
                    suppressable = 'none';
                }
                if ( title === '~ eliminado ~' ) {
                    suppressable = editable = deletable = branch_ok = 'none';
                }
                if (branched_from && ~body_md.indexOf('s en [')) {
                    var url = '#!/t/' + branched_from;
                    body_md = body_md.replace('s en [', 's en <a href="' + url + '">[');
                    body_md = body_md.replace(']', ']</a>');
                }
                %>
                <tr>
                    <td class="topic"><%= title_md %></td>
                    <td class="inituser"><a href="#!/u/<%- author %>" style="display: <%= suppressable %>"><%- author %></a></td>
                    <td class="startdate rgt"><time class="timeago" datetime="<%- post_date %>z"></time></td>
                </tr>
                <tr>
                    <td class="body" colspan="3"><%= body_md %></td>
                </tr>
                <tr class="row-group-spacer">
                    <td colspan="3">
                      <a class="msg-btns suppress" data-messageid="<%= message_id %>" style="display: <%= suppressable %>">marca como no apropiado</a>
                      <button class="msg-btns edit" data-messageid="<%= message_id %>" style="display: <%= editable %>">edite el mensaje</button>
                      <button class="msg-btns delete" data-messageid="<%= message_id %>" style="display: <%= deletable %>">elimine el mensaje</button>
                      <a class="msg-btns lft" href="#!/t/<%= branch_to %>" style="display: <%= also_thread %>">ver también</a>
                      <button class="msg-btns as-new-thread lft" data-messageid="<%= message_id %>" style="display: <%= branch_ok %>">respuesta tan nueva tema</button>
                    </td>
                </tr>
            </script>


            <!--
              templates for user page

            -->
            <div id="user" class="page" style="display: none">
                <header>
                    <h1></h1>
                </header>
                <div id="user-main"></div>
                <footer></footer>
            </div>

            <script type="text/template" id="user-header-template">
                User [<%= user %>]
            </script>

            <script type="text/template" id="user-subheader-template">
                <table>
                    <thead>
                        <tr>
                            <th><span id="posts-by">Mensajes de: </span><%- user %></th>
                        </tr>
                    </thead>
                </table>
            </script>

            <script type="text/template" id="user-message-template">
                <% var body_md = makeHtml(body);
                var title_md = makeHtml(title);
                title_md = title_md.replace(/<\/?p>/g, '');
                var topic_md = makeHtml(topic);
                topic_md = topic_md.replace(/<\/?p>/g, '');
                %>
                <tr>
                    <td class="topic"><a href="#!/t/<%= thread_id %>"><%= topic_md %></a> > <%= (message_id === thread_id) ? '' : title_md %></td>
                    <td class="inituser"><%- author %></td>
                    <td class="startdate rgt"><time class="timeago" datetime="<%- post_date %>z"></time></td>
                </tr>
                <tr>
                    <td class="body" colspan="3"><%= body_md %></td>
                </tr>
                <tr class="row-group-spacer"><td> </td></tr>
            </script>


            <!--
              templates for suspended page

            -->
            <div id="suspended" class="page" style="display: none">
                <header>
                    <h1></h1>
                </header>
                <div id="suspended-main"></div>
                <footer></footer>
            </div>

            <script type="text/template" id="suspended-header-template">
                Flagged Messages
            </script>

            <script type="text/template" id="suspended-message-template">
                <% var body_md = makeHtml(body);
                var title_md = makeHtml(title);
                title_md = title_md.replace(/<\/?p>/g, '');
                %>
                <tr>
                    <td class="topic"><%= title_md %></td>
                    <td class="inituser"><a href="#!/u/<%- author %>"><%- author %></a></td>
                    <td class="startdate rgt"><time class="timeago" datetime="<%- post_date %>z"></time></td>
                </tr>
                <tr>
                    <td class="body" colspan="3"><%= body_md %></td>
                </tr>
                <tr class="row-group-spacer">
                    <td colspan="3">
                        <a class="msg-btns delete" data-messageid="<%= message_id %>">delete</a>
                        <a class="msg-btns unflag" data-messageid="<%= message_id %>">unflag</a>
                    </td>
                </tr>
            </script>


            <!--
            blocks and templates for the message editor

            -->

            <div id="postform" class="page" style="display: none">
                <ul class="okwords"></ul>
                <div class="etch-editor-panel"></div>
                <div class="form"></div>
            </div>

            <script type="text/template" id="postform-template">
                <% var title_md = makeHtml(title);
                title_md = title_md.replace(/<\/?p>/g, '');
                var body_md = makeHtml(body);
                body_md = body_md.replace(/<\/?p>/g, '');
                %>

                <h3>Escribe</h3>
                <div id="subject" class="editable" data-button-class="title" data-position="#postform"><%= title_md %></div>
                <div id="new-message" class="editable" data-button-class="new" data-position="#postform"><%= body_md %></div>

                <div>
                    <button id="post-message">Post</button>
                    <button id="post-cancel">Cancel</button>
                </div>
            </script>

            <script type="text/template" id="okword-template">
                <span class="<%= okmulti %>"><%= word %></span>
            </script>

            <script type="text/template" id="edit-menu">
                <a href="#" class="etch-editor-button etch-bold" title="bold">
                    <span></span></a>
                <a href="#" class="etch-editor-button etch-italic" title="italic">
                    <span></span></a>
                <a href="#" class="etch-editor-button etch-unordered-list" title="unordered list">
                    <span></span></a>
                <a href="#" class="etch-editor-button etch-ordered-list" title="ordered list">
                    <span></span></a>
                <a href="#" class="etch-editor-button etch-link" title="link">
                    <span></span></a>
                <a href="#" class="etch-editor-button etch-clear-formatting" title="clear formatting">
                    <span></span></a>
            </script>

            <!--
            modals for logging in

            -->
            <div id="login" class="page modal-body" style="display: none">
                <form id="openidForm"  action="~" method="post">
                    <div>
                        <div id="main-openid">

                            <p>Acceder con: </p>
                            <input type="submit" value="Google" id="google" class="login-btn" />
                            <input type="submit" value="Yahoo" id="yahoo" class="login-btn" />
                            <input type="submit" value="Otro" id="other" class="login-btn" />
                        </div>


                        <div id="other-openid">
                            <!-- p>Proporcione a su identificador de OpenID, con http: <br/>
                                Ejemplo: <ul><li>http://example.livejournal.com</li>
                            <li>http://example.myopenid.com</li></ul>
                            ... or click one of the host buttons below.
                            </p -->
                            OpenID Identificader URL<input name="openidurl" size="75"/>  <br/>
                            <input type="submit" class="btn" />
                        </div>
                    </div>
                </form>
            </div>

            <div id="set-username" class="modal-body" style="display: none">
                <form>
                    <p>Provide your preferred username, by which you will be known here. </p>
                    <p id="su-error"></p>
                    <input name="username" size="75"/>  <br/>
                    <input type="submit" class="btn" />
                </form>
            </div>

        </section>

        <!--
        load everything
        -->
		<script src="https://www.rdbhost.com/vendor/jquery/1.8/jquery-1.8.3.js"></script>
        <script src="https://www.rdbhost.com/js/jquery.cookie.js"></script>
		<script src="https://www.rdbhost.com/vendor/underscore/1.5/underscore.js"></script>
		<script src="https://www.rdbhost.com/vendor/backbone/1.1/backbone.js"></script>
        <script src="https://dev.rdbhost.com/vendor/rdbhost/1.2/jquery.rdbhost.js"></script>
        <script src="https://www.rdbhost.com/vendor/showdown/0.3/src/showdown.js"></script>
        <script src="https://www.rdbhost.com/vendor/jquery-plugins/jquery.timeago.js"></script>
        <script src="https://www.rdbhost.com/vendor/jquery-plugins/jquery.timeago.es.js"></script>
        <!-- script src="https://www.rdbhost.com/vendor/jquery-plugins/jquery.caret.js"></script -->
        <script src="https://www.rdbhost.com/vendor/rangy/1.3/uncompressed/rangy-core.js"></script>
        <script src="https://www.rdbhost.com/vendor/rangy/1.3/uncompressed/rangy-textrange.js"></script>

        <script src="vendor/etch/js/etch.js"></script>
        <script src="vendor/to-markdown/js/to-markdown.js"></script>

        <script src="js/app.js"></script>
        <script src="js/views/username-view.js"></script>
        <script src="js/routers/login.js"></script>
        <script src="js/models/message-model.js"></script>
		<script src="js/collections/thread-model.js"></script>
        <script src="js/collections/user-model.js"></script>
        <script src="js/collections/suspended-model.js"></script>
        <script src="js/collections/thousandwords-collection.js"></script>
		<script src="js/collections/threads-collection.js"></script>
		<script src="js/views/thread-view.js"></script>
		<script src="js/views/threads-view.js"></script>
        <script src="js/views/user-view.js"></script>
        <script src="js/views/suspended-view.js"></script>
        <script src="js/views/wordlist-view.js"></script>
        <script src="js/views/edit-view.js"></script>
        <script src="js/routers/router.js"></script>

	</body>
</html>
