<!doctype html>
<html lang="en" data-framework="backbonejs">
	<head>
		<meta charset="utf-8">
		<title>Mil Palabras</title>
		<link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="vendor/etch/css/etch.css">
	</head>
	<body>
		<section id="mpapp">

            <!--
            templates and blocks for the main topics page

            -->
            <div id="topics" class="page">
                <header>
                    <h1>Topics</h1>
                    <!-- a href="#">home</a -->
                    <span class="user-id"></span>
                    <a href="#/login" class="loginLink">login</a>
                </header>

                <button class="add-topic-button">Create new Topic</button>
                <table id="topics-main">
                    <thead>
                        <tr>
                            <th>topic</th>
                            <th>owner</th>
                            <th>new at</th>
                            <th>msg ct</th>
                        </tr>
                    </thead>
                    <tbody id="topic-list">
                    </tbody>
                </table>
                <button class="add-topic-button">Create new Topic</button>
                <footer></footer>
            </div>

            <script type="text/template" id="topic-item-template">
                <% var topic_md = makeHtml(topic);
                   topic_md = topic_md.replace(/<\/?p>/g, '');
                %>
                <td class="topic"><a href="#t/<%- thread_id %>"><%= topic_md %></a></td>
                <td class="inituser"><%- initiating_user %></td>
                <td class="startdate"><time class="timeago" datetime="<%- start_date %>z"></time></td>
                <td class="msgct"><%- message_ct %></td>
            </script>


            <!--
              templates and blocks for displaying one thread

            -->
            <div id="thread" class="page" style="display: none">
                <header>
                    <h1></h1>
                    <a href="#">home</a>
                    <span class="user-id"></span>
                    <a href="#/login" class="loginLink">login</a>
                </header>

                <table id="thread-main">
                    <thead>
                        <tr>
                            <th class="topic">title</th>
                            <th class="inituser">author</th>
                            <th class="startdate">post_date</th>
                        </tr>
                        <!-- tr>
                            <th colspan="3">body</th>
                        </tr -->
                    </thead>
                </table>
                <button id="add-post-button">Reply to Thread</button>
                <footer></footer>
            </div>

            <script type="text/template" id="header-template">
                Thread [<%= topic %>]
            </script>

            <script type="text/template" id="message-template">
                <% var body_md = makeHtml(body);
                var title_md = makeHtml(title);
                title_md = title_md.replace(/<\/?p>/g, '');
                %>
                <tr>
                    <td class="topic"><%= title_md %></td>
                    <td class="inituser"><a href="#u/<%- author %>"><%- author %></a></td>
                    <td class="startdate"><time class="timeago" datetime="<%- post_date %>z"></time></td>
                </tr>
                <tr>
                    <td class="body" colspan="3"><%= body_md %></td>
                </tr>
                <tr class="row-group-spacer">
                    <td colspan="3">
                    <a class="msg-btns suppress" data-messageid="<%= message_id %>" style="display: <% suppressed ? 'inline' : 'none' %>">flag as inappropriate</a>
                    </td>
                </tr>
            </script>


            <!--
              templates for user page

            -->
            <div id="user" class="page" style="display: none">
                <header>
                    <h1></h1>
                    <a href="#">home</a>
                    <span class="user-id"></span>
                    <a href="#/login" class="loginLink">login</a>
                </header>
                <div id="user-main"></div>
                <footer></footer>
            </div>

            <script type="text/template" id="user-header-template">
                User [<%= user %>]
            </script>

            <script type="text/template" id="user-subheader-template">
                <table>
                    <thead>
                        <tr>
                            <th><span id="posts-by">Messages By: </span><%- user %></th>
                        </tr>
                    </thead>
                </table>
            </script>

            <script type="text/template" id="user-message-template">
                <% var body_md = makeHtml(body);
                var title_md = makeHtml(title);
                title_md = title_md.replace(/<\/?p>/g, '');
                var topic_md = makeHtml(topic);
                topic_md = topic_md.replace(/<\/?p>/g, '');
                %>
                <tr>
                    <td class="topic"><a href="#t/<%= thread_id %>"><%= topic_md %></a> > <%= (message_id === thread_id) ? '' : title_md %></td>
                    <td class="inituser"><%- author %></td>
                    <td class="startdate"><time class="timeago" datetime="<%- post_date %>z"></time></td>
                </tr>
                <tr>
                    <td class="body" colspan="3"><%= body_md %></td>
                </tr>
                <tr class="row-group-spacer"><td> </td></tr>
            </script>


            <!--
              templates for suspended page

            -->
            <div id="suspended" class="page" style="display: none">
                <header>
                    <h1></h1>
                    <a href="#">home</a>
                    <span class="user-id"></span>
                    <a href="#/login" class="loginLink">login</a>
                </header>
                <div id="suspended-main"></div>
                <footer></footer>
            </div>

            <script type="text/template" id="suspended-header-template">
                Flagged Messages
            </script>

            <script type="text/template" id="suspended-message-template">
                <% var body_md = makeHtml(body);
                var title_md = makeHtml(title);
                title_md = title_md.replace(/<\/?p>/g, '');
                %>
                <tr>
                    <td class="topic"><%= title_md %></td>
                    <td class="inituser"><a href="#u/<%- author %>"><%- author %></a></td>
                    <td class="startdate"><time class="timeago" datetime="<%- post_date %>z"></time></td>
                </tr>
                <tr>
                    <td class="body" colspan="3"><%= body_md %></td>
                </tr>
                <tr class="row-group-spacer">
                    <td colspan="3">
                        <a class="msg-btns delete" data-messageid="<%= message_id %>">delete</a>
                        <a class="msg-btns unflag" data-messageid="<%= message_id %>">unflag</a>
                    </td>
                </tr>
            </script>


            <!--
            blocks and templates for the message editor

            -->
            <div id="okwords" class="page" style="display: none">
            </div>

            <div id="postform" class="page" style="display: none">
            </div>

            <script type="text/template" id="postform-template">

                <h3>Escribe</h3>
                <div id="subject" class="editable" data-button-class="title" data-position="#postform"></div>
                <div id="new-message" class="editable" data-button-class="new" data-position="#postform"></div>

                <div>
                    <button id="post-message">Post</button>
                    <button id="post-cancel">Cancel</button>
                </div>
            </script>

            <script type="text/template" id="okword-template">
                <li class="wordlist"><%= word %></li>
            </script>


            <!--
            modals for logging in

            -->
            <div id="login" class="page modal-body" style="display: none">
                <form id="openidForm"  action="~" method="post">
                    <p>Provide your OpenId identifier, complete with http: <br/>
                        Examples: <ul><li>http://example.livejournal.com</li>
                    <li>http://example.myopenid.com</li></ul>
                    ... or click one of the host buttons below.
                    </p>
                    OpenID Identifier URL<input name="openidurl" size="75"/>  <br/>
                    <input type="submit" class="btn" />
                    <div>
                        <input type="submit" value="Google" id="google" class="btn" />
                        <input type="submit" value="Yahoo" id="yahoo" class="btn" />
                    </div>
                </form>
            </div>

            <div id="set-username" class="modal-body" style="display: none">
                <form>
                    <p>Provide your preferred username, by which you will be known here. </p>
                    <p id="su-error"></p>
                    <input name="username" size="75"/>  <br/>
                    <input type="submit" class="btn" />
                </form>
            </div>

        </section>

        <!--
        load everything
        -->
		<script src="https://www.rdbhost.com/vendor/jquery/1.8/jquery-1.8.3.js"></script>
        <script src="https://www.rdbhost.com/js/jquery.cookie.js"></script>
		<script src="https://www.rdbhost.com/vendor/underscore/1.5/underscore.js"></script>
		<script src="https://www.rdbhost.com/vendor/backbone/1.1/backbone.js"></script>
        <script src="https://www.rdbhost.com/js/jquery.rdbhost.js"></script>
        <script src="https://www.rdbhost.com/vendor/showdown/0.3/src/showdown.js"></script>
        <script src="https://www.rdbhost.com/vendor/jquery-plugins/jquery.timeago.js"></script>
        <script src="https://www.rdbhost.com/vendor/jquery-plugins/jquery.timeago.es.js"></script>
        <!-- script src="https://www.rdbhost.com/vendor/jquery-plugins/jquery.caret.js"></script -->
        <script src="https://www.rdbhost.com/vendor/rangy/1.3/uncompressed/rangy-core.js"></script>
        <script src="https://www.rdbhost.com/vendor/rangy/1.3/uncompressed/rangy-textrange.js"></script>

        <script src="vendor/etch/js/etch.js"></script>
        <script src="vendor/to-markdown/js/to-markdown.js"></script>

        <script src="js/app.js"></script>
        <script src="js/views/username-view.js"></script>
        <script src="js/routers/login.js"></script>
        <script src="js/models/message-model.js"></script>
		<script src="js/collections/thread-model.js"></script>
        <script src="js/models/user-model.js"></script>
        <script src="js/collections/suspended-model.js"></script>
        <script src="js/collections/thousandwords-collection.js"></script>
		<script src="js/collections/threads-collection.js"></script>
		<script src="js/views/thread-view.js"></script>
		<script src="js/views/threads-view.js"></script>
        <script src="js/views/user-view.js"></script>
        <script src="js/views/suspended-view.js"></script>
        <script src="js/views/wordlist-view.js"></script>
        <script src="js/views/edit-view.js"></script>
        <script src="js/routers/router.js"></script>

	</body>
</html>
